html {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/* Project Colors */
.jrs {
  background-image: url('../img/jrs-full.png');
  border: solid 20px #14204d;
}

.emprendete {
  background-image: url('../img/emprendete-full.png');
  border: solid 20px #6c00e5;
}

.baw {
  background-image: url('../img/baw-full.png');
  border: solid 20px #e0ca6a;
}

.mision {
  background-image: url('../img/misionioeros-full.png');
  border: solid 20px #040620;
}

.cotelco {
  background-image: url('../img/cotelco-full.png');
  border: solid 20px #ff9000;
}

.pokedex {
  background-image: url('../img/pokedex-full.png');
  border: solid 20px #fbc79a;
}

.bullying {
  background-image: url('../img/bullying-full.png');
  border: solid 20px #000000;
}


/* Icons */

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.icon-img img {
  width: 1em;
}

.icon-black {
  color: #111111;
  margin-left: 1.35em;
  font-size: 0.65rem;
}

.icon-white {
  color: #ffffff;
  margin-left: 1em;
}

.html5 {
  color: #ff621b;
  margin-left: 1em;
}

.css3 {
  color: #009cd8;
  margin-left: 1em;
}

.js {
  color: #f7dc43;
  margin-left: 1em;
}

.wordpress {
  color: #00759c;
  margin-left: 1em;
}

.appstore {
  color: #0088e7;
  margin-left: 1em;
}

.android {
  color: #97c929;
  margin-left: 1em;
}

.react {
  color: #00dbfd;
  margin-left: 1em;
}

.angular {
  color: #fc002a;
  margin-left: 1em;
}

.database {
  color: #111111;
  margin-left: 1em;
}

.marker {
  color: #ff3c2e;
  margin-right: 1em;
}

.mail {
  color: #0084f8;
  margin-right: 1em;
}

.mobile {
  color: #00aa50;
  margin-right: 1em;
}

.intro {
  background-color: #111111;
  background-image: linear-gradient(225deg, #222222, #222222 10%, #111111 10%, #111111 75%, #222222 75%);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.intro-txt-nombre {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.125em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.intro-txt-icon-izq {
  margin-left: 2em;
}

.intro-txt-icon-der {
  margin-right: 2em;
}

.intro-txt-item {
  font-size: 1.2em;
  letter-spacing: 0.0625em;
}

.intro-txt-descripcion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-txt-descripcion-izq {
  align-self: flex-start;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  text-align: left;
}

.intro-txt-descripcion-der {
  align-self: flex-end;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  text-align: right;
}

.nav-full {
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 225px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-menu-btn, .nav-menu-logo {
  padding: 75px;
}

.nav-menu-logo a {
  color: #ffffff;
  text-decoration: none;
}

.proyecto-home {
  background-color: #ffffff;
  background-image: linear-gradient(225deg, #eeeeee, #eeeeee 10%, #ffffff 10%, #ffffff 75%, #eeeeee 75%);
  color: #111111;
  letter-spacing: 0.125em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.proyecto-home-item {
  background-size: cover;
  height: 60vh;
  width: 60%;
}

.proyecto-home-info {
  background-color: rgba(238, 238, 238, 0.9);
  font-size: 1.2em;
  font-weight: 300;
  position: relative;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.proyecto-home-info h2 {
  font-size: 2.5em;
}


.proyecto-home-info p  {
  text-align: center;
  width: 50%;
}

.proyecto-home-info-sub {
  font-size: 0.75em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.proyecto-home-info-sub-titulo {
  font-weight: 400;
  line-height: 25px;
}

.proyecto-home-info-sub-txt {
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyecto-home-info-sub ul {
  margin: 0;
  padding: 0;
}

.proyecto-home-info-sub ul li {
  display: inline-block;
  text-align: right;
  margin-left: 2em;
}
